<!doctype html>
<html>
<head>
    <title>Hitch'd</title>
    <meta charset="utf-8" />
    <script src="jquery-1.4.4.min.js"></script>
    <script src="jquery-ui-1.8.7.custom.min.js"></script>
    <script src="jquery.jqote2.min.js"></script>
    <link type="text/css" href="css/custom-theme/jquery-ui-1.8.7.custom.css" rel="stylesheet" />
    <style type="text/css">
        .client-profile {
            border: thin solid #ccc;
            width: 20em;
            margin: .5em;
            float: left;
        }

        #flirt {
            clear: both;
        }

        #toolbar {
            padding: 10px 4px;
        }
        
    </style>
</head>
<body>

    <div id="manage" class="ui-widget">
        <h1 class="ui-widget-header ui-corner-top">
            Manage Clients
        </h1>

               
        <div id="client_list" class="ui-widget-content">
        </div>
    </div>

    <div id="flirt">


        <div id="challange">
            <h2 class="name"></h2>
            <canvas height="30" width="200">
                You need a browser with the canvas element, please get rid of IE.
            </canvas>
        </div>

        <h1>Flirt!</h1>
        <div id="int" class="flirt_bar">
            <h3>Intelligence</h3>
            <canvas id="flirt_int" height="30" width="200">
                You need teh canvas to play, please upgrade your browser.
            </canvas>
            <p id="flirt_int_p"></p>
        </div>

    </div>

    <script type="text/x-jqote-template" id="tmpl_client_profile">
        <% var id = +new Date();
            this.id = id; 
            console.log("i", i, "id", id, "+new Date", +new Date());
        %>
        <table id="<%= id %>" class="client-profile">
            <tr>
                <td>
                    <img src="<%= this.image %>" height="50" width="50" />
                </td>
                <td>
                    <ul>
                        <li><b>Name:</b> <i><%= this.name %></i></li>
                        <li><b>Sex:</b> <i><%= this.sex %></i></li>
                        <li>
                            <b>Likes:</b>  
                            <i>
                                <% for(var idx = this.likes.length-1; idx >= 0; idx--) { %>
                                    <%= this.likes[idx] %>,
                                <% } %>
                            </i>
                        </li>
                        <li>
                            <b>Hates:</b>  
                            <i>
                               <% for(var idx = this.hates.length-1; idx >= 0; idx--) { %>
                                    <%= this.hates[idx] %>,
                                <% } %> 
                            </i>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div style="text-align: center;">
                        <b>Int:</b>
                        <i><%= this.intelligence %></i>
                        <b>Fit:</b>
                        <i><%= this.fitness %></i>
                        <b>Social:</b>
                        <i><%= this.social %></i>
                        <b>Income:</b>
                        <i><%= this.income %></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Loneliness</b>
                    <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all">
                        <div class="ui-progressbar-value ui-widget-header ui-corner-left" style="width: <%= this.loneliness %>%;"></div>
                    </div>
                </td>
            </tr>
        </table>
    </script>

    <script src="challangeBar.js"></script>
    <script src="main.js"></script>
</body>
</html>
