<!doctype html>
<html>
<head>
    <title>Hitch'd</title>
    <meta charset="utf-8" />
    <script src="libs/jquery-1.4.4.min.js"></script>
    <script src="libs/jquery-ui-1.8.7.custom.min.js"></script>
    <script src="libs/jquery.jqote2.min.js"></script>
    <link type="text/css" href="css/custom-theme/jquery-ui-1.8.7.custom.css" rel="stylesheet" />
    <style type="text/css">
        .client-profile {
            border: thick solid #ccc;
            width: 25em;
            margin: .5em;
            float: left;
        }

        #flirt {
            clear: both;
        }

        #toolbar {
            padding: 10px 4px;
        }
        
        .client-list {
            font-size: 12pt;
            width: 32em;
        }
        .client-list tr {
            cursor: pointer;
        }
        .client-list td{
           border: thin solid #ccc; 
        }
        #males {
            float: left;
        }

        #females {
            float: right; 
        }
    </style>
</head>
<body>

    <div id="manage" class="ui-widget">
        <h1 class="ui-widget-header ui-corner-top">
            Manage Clients
        </h1>

        
        <b id="time">Week 1</b>
        <b id="money">Cash: $100</b>

        <!-- Tables for style, yuck, but I'm short on time -->
        <table style="width:100%">
            <tr>
                <td>
                    <h2>Men</h2>
                </td>
                <td>
                    <img src="img/heartshield_min.png" />
                </td>
                <td style="text-align:right;">
                    <h2>Women</h2>
                </td>
            </tr>
            <tr>
                <td>
                    <table id="males" class="client-list">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Likes</th>
                                <th>Hates</th>
                                <th>Happy</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </td>
                <td>
                    <!-- The controls -->
                    <button id="btn_flirt" type="button">Flirt!</button>

                </td>
                <td>
                    <table id="females" class="client-list">
                         <thead>
                            <tr>
                                <th>Happy</th>
                                <th>Name</th>
                                <th>Likes</th>
                                <th>Hates</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </td>
        </table>

    </div>

    <div id="flirt">
        <p>
            Press any key to stop the slider in the green.
        </p>

        <div id="challange">
            <h2 class="name"></h2>
            <canvas height="30" width="200">
                You need a browser with the canvas element, please get rid of IE.
            </canvas>
        </div>

        <div id="progress"></div>
    </div>

    <script type="text/x-jqote-template" id="tmpl_client_row">
        <% 
            
            var id = this.id || getUniqueID();
            this.id = id; 
        %>
        <tr id="<%= this.id %>">
            <% if ('Female' == this.sex) { %>
                <td><%= this.happy %></td>
            <% } %>
            <td>
                <%= this.name %>
            </td>
            <td>
                <% for (var idx = this.like_list.length-1; idx >= 0; idx--) { %>
                    <%= this.like_list[idx] %>,
                <% } %>
            </td>
            <td>
                <% for (var idx = this.hate_list.length-1; idx >= 0; idx--) { %>
                    <%= this.hate_list[idx] %>,
                <% } %>
            </td>
            <% if ('Male' == this.sex) { %>
                    <td><%= this.happy %></td>
            <% } %>
        </tr>
    </script>


    <script src="globals.js"></script>
    <script src="clients.js"></script>
    <script src="challangeBar.js"></script>
    <script src="main.js"></script>
</body>
</html>
